<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 有啥注解，就有啥标签 -->

    <bean id="lisi" class="com.otto.spring.bean.Person" />
    <bean id="wangwu" class="com.otto.spring.bean.Person">
        <property name="name" value="" />
        <property name="age" value="#{12*34}" />
        <property name="gender" value="男" />
    </bean>

    <!--  配置批量扫描  -->
    <context:component-scan base-package="com.otto.spring.bean" />
</beans>